.app {
  overflow: hidden
}

.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d)
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 4px 0 0 0;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item.header,
.header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-item--strong {
  font-weight: 400;
  cursor: pointer;
}

.header__navbar-item--separator::after {
  position: absolute;
  content: "";
  display: block;
  height: 15px;
  border-right: 2px solid #f86d5c;
  right: -10px;
  top: 50%;
  transform: translateY(-65%);
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-user {
  display: inline-flex;
  font-size: 1.4rem;
  font-weight: 400;
  position: relative;
}

.header__navbar-user:hover .header__navbar-user-info{
  display: block;
}

.header__navbar-user-info::before {
  content: "";
  border-style: solid;
  border-width: 12px 16px;
  border-color: transparent transparent var(--white-color) transparent;
  right: 4px;
  top: -20%;
  position: absolute;
  
}

.header__navbar-user::after{
  content: "";
  display:block;
  position: absolute;
  top: 60%;
  width: 100%;
  height: 80%;
  
}

.header__navbar-user-info {
  position: absolute;
  top: 110%;
  right: 0;
  width: 128px;
  background-color: var(--white-color);
  border-radius: 4px;
  cursor: pointer;
  transform-origin: 90% 0;
  animation: headerNotiGrowth ease-in 0.3s;
  will-change: opacity, transform;
  display: none; 
  z-index: 11;
  width: 100%;
}

.header__navbar-user-info-list {
  padding: 0;
  list-style: none;
}

.header__navbar-user-info-item {
  padding: 4px 4px 4px 8px;
  border-bottom: 1px solid #e0e0e0;
}

.header__navbar-user-info-item:hover {
  opacity: 0.8;
}

.header__navbar-user-info-link {
  line-height: 2.6rem;
  text-decoration: none;
  color: var(--text-color);
}

.header__navbar-user-info-item:last-child .header__navbar-user-info-link {
  color: #3ad1ca;
}

.header__navbar-user-info-text {
  padding: 4px;
}

/* Header QR Code */
.header__qr {
  width: 186px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  top: 120%;
  display: none;
  animation: fadeIn ease-in 0.3s;
  z-index: 10;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  left: 0;
  top: -20px;
  display: block;
}

.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}

.header__navbar-item--has-noti:hover .header__noti {
  display: block;
}

.header__qr-img {
  width: 100%;
  border-radius: 2px;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
}

.header__qr-link:first-child {
  margin-left: 11px;
}

.header__qr-link:last-child {
  margin-right: 11px;
}

.header__qr-app {
  height: 17px;
}

/* Header Notification */

.header__noti {
  position: absolute;
  top: 120%;
  right: 0;
  width: 404px;
  border: 1px solid #D3D3D3;
  background-color: var(--white-color);
  cursor: default;
  transform-origin: 90% 0;
  animation: headerNotiGrowth ease-in 0.3s;
  will-change: opacity, transform;
  display: none;
  z-index: 11;
  
}

.header__noti::before {
  content: "";
  border-style: solid;
  border-width: 20px 30px;
  border-color: transparent transparent var(--white-color) transparent;
  right: 4px;
  top: -30px;
  position: absolute;
}

.header__noti::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  left: 0;
  top: -20px;
  display: block;
}

@keyframes headerNotiGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__noti-header {
  height: 40px;
  background-color: var(--white-color);
}

.header__noti-header h3 {
  color: #777;
  margin: 0 0 0 12px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 40px;
  user-select: none;
}

.header__noti-list {
  padding-left: 0;
}

.header__noti-item {
  background-color: #fff;
  display: flex;
}


.header__noti-item:hover {
  background-color: #f4f4f4;
}

.header__noti-item--read {
  background-color: #ddd;
}

.header__noti-link {
  display: flex;
  padding: 12px;
  text-decoration: none;

}

.header__noti-img {
  width: 48px;
  object-fit: contain;
}

.header__noti-info {
  margin-left: 12px;
}

.header__noti-name {
  display: block;
  font-size: 1.4rem;
  color: var(--black-color);
  font-weight: 400;
  line-height: 1.6rem;
}

.header__noti-description {
  display: block;
  font-size: 1.2rem;
  color: #75656E;
  line-height: 1.6rem;
  margin-top: 4px;
}

.header__noti-footer {
  text-align: center;
  display: flex;
}

.header__noti-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 8px 32px;
  margin: auto;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}

/*Authen modal*/
.auth-form {
  width: 500px;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--white-color);
}

.auth-form-container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 10px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-color);
  cursor: pointer;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
}

.auth-form__input:focus {
  border-color: #888;
}

.auth-form__aside {
  margin-top: 20px;
}

.auth-form__aside-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
}

.auth-form__policy-link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__socials {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 16px 32px;
  align-items: center;
  margin-top: 24px;
}

.auth-form__controls-back {
  margin-right: 8px;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
  margin-left: 8px;
}

.btn--facebook {
  background-color: #3b5998;
  color: var(--white-color);
}

.btn--google {
  background-color: var(--white-color);
  color: #555;
}

.auth-form__socials-title {
  margin: 0 28px;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #939393;
}

.auth-form__help-separator {
  display: block;
  height: 24px;
  border-left: 1px solid var(--border-color);
  margin: 0 16px;
}

.auth-form__help-link:first-child {
  color: var(--primary-color);
}

/* Header search */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.header__mobile-search {
  padding: 0 12px;
}

.header__mobile-search-icon {
  font-size: 2.4rem;
  color: var(--white-color);
}

.header__logo {
  width: 200px;
}

.header__logo-link {
  color: transparent;
  text-decoration:none;
  display: block; 
  line-height: 0;
}

.header__search-checkbox:checked ~ .header__search {
  display: flex;
}

.header__logo-img {
  width: 150px;
  color: var(--white-color);
}

.header__search {
  height: 40px;
  flex: 1;
  background-color: var(--white-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.header__cart {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.header__cart-count {
  position: absolute;
  padding: 1px 4px;
  font-size: 1.4rem;
  color: var(--primary-color);
  background-color: var(--white-color);
  border-radius: 10px;
  line-height: 1.2rem;
  border: 2px solid #EE4020;
  top: -2px;
  right: calc(50% - 20px);
}

.header__cart-icon {
  font-size: 2.4rem;
  color: var(--white-color);
  margin-top: 4px;
  padding: 4px 8px;
  cursor: pointer;
  position: relative;

}

.header__cart-icon::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  left: 0;
  top: 80%;
  display: block;
}

.header__cart-icon:hover~.header__cart-list,
.header__cart-list:hover {
  display: block;
  z-index: 1;
    transform-origin: 90% 0;
  animation: headerNotiGrowth ease-in 0.3s;
}

.header__cart-list {
  position: absolute;
  top: calc(100% + 8px);
  right: 50px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 2px 3.125rem rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1;
}

.header__cart-list::after {
  content: "";
  position: absolute;
  right: 0;
  top: -28px;
  border-width: 16px 24px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}

.header__cart-list--no-item {
  padding: 32px 0;
  cursor: default;
  display: flex;

}

.header__cart-list--no-item .header__cart-list--no-item-img,
.header__cart-list--no-item .header__cart-list--no-item-text {
  display: block;
  margin: 0 auto;
}

.header__cart-list--no-item-img {
  width: 60%;
  margin: auto;
  display: none;
}

.header__cart-list--no-item-text {
  font-size: 1.4rem;
  margin-top: 12px;
  color: var(--text-color);
  display: none;
}

.header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 300;

}

.header__cart-list-item {
  padding: 0;
  list-style: none;
  max-height: 60vh;
  overflow-y: auto;
}

.header__cart-item {
  display: flex;
  align-items: center;
}

.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-item-info {
  width: 100%;
}

.header__cart-item-img {
  width: 42px;
  height: 42px;
  margin: 12px;
}

.header__cart-item-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 12px;
}

.header__cart-item-title {
  font-size: 1.4rem;
  line-height: 1.8rem;
  max-height: 3.6rem;
  overflow: hidden;
  font-weight: 400;
  color: var(--text-color);
  margin: 0;
  flex: 1;
  padding-right: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
}

.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--primary-color);
}

.header__cart-item-mul {
  font-size: 1rem;
  margin: 0 4px;
  color: #757575;
  font-weight: 400;
}

.header__cart-item-quantity {
  font-size: 1.2rem;
  font-weight: 400;
}

.header__cart-item-body {
  display: flex;
  justify-content: space-between;
}

.header__cart-item-description {
  font-size: 1.2rem;
  color: #757575;
  font-weight: 400;
}

.header__cart-item-remove {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
  margin-right: 12px;
}

.header__cart-item-remove:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.header__cart-btn {
  float: right;
  margin: 0 12px 12px 0;
}

.header__cart-btn:hover {
  background-color: #F05D41;
}

.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: var(--text-color);
  padding: 0 16px;
  font-size: 1.5rem;
}

.header__search-select {
  border-left: 1px solid #E8E8E8;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}

.header__search-select::after {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  top: 100%;
  position: absolute;
  left: 0;
}

.header__search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-select-icon {
  font-size: 1.6rem;
  color: #4A4A4A;
  padding: 0 12px 0 8px;
  position: relative;
  top: 1px;
}

.header__search-btn {
  background: linear-gradient(0, #f53e2d, #fe6433);
  border: none;
  height: 34px;
  width: 60px;
  outline: none;
  border-radius: 3px;
  margin-right: 3px;
}

.header__search-btn:hover {
  background: #ec653c;
  cursor: pointer;
}

.header__search-btn-icon {
  font-size: 1.6rem;
  color: var(--white-color);
}

.header__search-option {
  position: absolute;
  right: 0;
  top: 180%;
  width: 130px;
  list-style: none;
  box-shadow: 0 1px 2px #e0e0e0;
  padding-left: 0;
  cursor: pointer;
  /* overflow: hidden; */
  display: none;
  animation: fadeIn ease-in 0.3s;
  z-index: 100;
}

.header__search-select:hover .header__search-option {
  display: block;
}


.header__search-option-item {
  background-color: var(--white-color);
  border-radius: 2px;
  padding: 8px 8px;
}

.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 12px;
}

.header__search-option-item i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin: 0 4px 0 12px;
  display: none;
}

.header__search-option-item--active i {
  display: inline-block;
}

.header__search-input:focus~.header__search-history {
  display: block;
}

/* Search history */
.header__search-history {
  position: absolute;
  top: 105%;
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgb(185, 184, 184);
  display: none;
  overflow: hidden;
  z-index: 1;
}

.header__search-history-heading {
  margin: 8px 12px;
  font-size: 1.4rem;
  color: #aaa;
  font-weight: 400;
  cursor: default;
}

.header__search-history-list {
  list-style: none;
  padding-left: 0;
  margin: 6px 0 0;
}

.header__search-history-item {
  height: 36px;
  font-size: 1.4rem;
  padding: 0 12px;
  cursor: pointer;
}

.header__search-history-item:hover {
  background-color: #f5f5f5;
}

.header__search-history-item a {
  text-decoration: none;
  line-height: 36px;
  color: var(--text-color);
}

.header__search-checkbox:checked ~ .header__search {
    display: flex;
  }
/* Header sort bar */
.header__sort-bar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  height: var(--header-sort-bar-height);
  background-color: var(--white-color);
  list-style: none;
  
  padding-left: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: none;
  
}

.header__sort-item {
  flex: 1;
  height: 100%;
  align-items: center;
}

.header__sort-item:first-child .header__sort-link::before {
  display: none;
}

.header__sort-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 500;
  display: block;
  text-align: center;
  position: relative; 
  line-height: 40px;
}

.header__sort-item--active .header__sort-link {
  color: var(--primary-color);
}

.header__sort-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 60%;
  border-left: 1px solid #e5e5e5;
  transform: translateY(-50%);
}



/*App container*/
.app__container {
  background: #f5f5f5
}
.app__content {
  margin: 0 4px;
}
.category {
  background-color: var(--white-color);
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.category__heading {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 500;
  padding: 16px 16px 0;
  margin-top: 0;
  text-transform: uppercase;
}

.category__heading-icon {
  font-size: 1.4rem;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.category-list {
  padding: 12px 0 8px 0;
  list-style: none;
}

.category-item {
  position: relative;
}

.category-item:first-child::before {
  display: none;
}
.category-item::before {
  content: "";
  position: absolute; 
  top: 0;
  left: 20px;
  right: 20px;
  border: 1px solid #ccc;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item__link {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.6rem;
  padding: 8px 20px;
  display: block;
}


.category-item__link:hover {
  color: var(--primary-color);
  cursor: pointer;
}

/* Home sort + filter */
.home-filter {
  background-color: rgba(0,0,0,0.04);
  display: flex;
  padding: 12px 22px;
  align-items: center;
  border-radius: 2px;
}

.home-filter__heading {
  color: #555;
  font-size: 1.4rem;
  margin-right: 16px;
}

.home-filter__btn {
  margin-right: 12px;
  min-width: 90px;
}

.home-filter__page { 
  display: flex;
  align-items: center;
  margin-left: auto; 
}

.home-filter__page-num {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-right: 22px;
}

.home-filter__page--cur {
  color: var(--primary-color);
}

.home-filter__page-control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}
.home-filter__page-btn {
  flex: 1;
  background-color: var(--white-color);
  text-decoration: none;
  display: flex;
}

.home-filter__page-btn--disabled {
  background-color: #f9f9f9;
  cursor: not-allowed;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
  color: #ccc;
}

.home-filter__page-btn:first-child {
  border-right: 1px solid #eee;
}

.home-filter__page-icon {
  margin: auto;
  font-size: 1.4rem;
  color: #555;
}

/* Product item */
.home-product {
  margin-bottom: 10px;
}

.home-product-item {
  display: block;
  position: relative;
  text-decoration: none;
  background-color: var(--white-color);
  margin-top: 10px;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 0.125rem 0.2rem rgba(0,0,0,0.1);
  transition: transform linear 0.1s;
  will-change: transform;
}

.home-product-item:hover {
  box-shadow: 0 0.125rem 0.2rem rgba(0,0,0,0.05);
  transform: translateY(-2px);
}

.home-product-item__img {
  padding-top: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.home-product-item__name {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.8rem;
  height: 3.6rem;
  margin: 10px;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  
}
.home-product-item__price {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.home-product-item__price-old {
  font-size: 1.2rem;
  color: #555;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: line-through;
}
.home-product-item__price-current {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 500;
  margin-left: 10px;
}
.home-product-item__action {
  display: flex;
  justify-content: space-between;
  margin: 6px 10px 0;
}
.home-product-item__like {
  font-size: 1.3rem;
}
i.home-product-item__like-icon-fill {
  color: var(--primary-color);
  display: none;
}
.home-product-item__like--liked .home-product-item__like__icon-empty {
  display: none;
}
.home-product-item__like--liked .home-product-item__like__icon-fill {
  display: inline-block;
}
.home-product-item__like-icon-empty {

}

.home-product-item__rating {
  font-size: 1rem;
  transform: scale(0.8);
  transform-origin: right;
  color: #d5d5d5;
  margin: -1px 0 0 auto;
}
.home-product-item__rating-icon {
  color: var(--star-gold-color);
}

.home-product-item__sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 10px;
}
.home-product-item__origin {
  display: flex;
  margin: 3px 10px 0;
  font-size: 1.2rem;
  color: #595959;
  font-weight: 300;
}
.home-product-item__origin-brand {

}
.home-product-item__origin-country {
  margin-left: auto;
}
.home-product-item__fav {
  font-size: 1.3rem;
  color: var(--white-color);
  background-color: var(--primary-color);
  line-height: 1.6rem;
  position: absolute;
  top: 10px;
  left: -4px;
  font-weight: 500;
  padding-right: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.home-product-item__fav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
}

.home-product-item__fav i {
  margin: 0 4px;
  font-size: 1rem;
}
.home-product-item__sale-off {
  position: absolute;
  border-top-right-radius: 2px;
  right: 0;
  top: 0;
  background-color: rgba(255, 216, 64, 0.94);
  width: 40px;
  height: 36px;
  text-align: center;
}

.home-product-item__sale-off::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  border-width: 0 20px 6px;
  border-style: solid; 
  border-color: transparent rgba(255, 216, 64, 0.94);
}
.home-product-item__sale-off-percent {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4rem;
  position: relative;
  top: 4px;
}
.home-product-item__sale-off-label {
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6rem;
  position: relative;
  top: 2px;
}

/* Pagination */
.pagination {
  display: flex; 
  align-items: center;
  justify-content: center;
  list-style: none;
}

.home-pagination-item {
  margin: 48px 0 32px;
  padding-left: 0;
}

.pagination-item {
  margin: 0 12px;
}

.pagination-item:hover {

}

.pagination-item--active .pagination-item__link {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.pagination-item__link {
  --height: 30px;
  display: block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  color: #939393;
  min-width: 40px;
  height: --height;
  text-align: center; 
  line-height: --height;
  border-radius: 2px;
}

/* footer */
.footer {
  border-top: 4px solid var(--primary-color);
  padding-top: 16px; 
  background-color: var(--white-color);
}

.footer__heading {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--text-color);
}

.footer-list {
  padding-left: 0;
  list-style: none;
}

.footer-item__link {
  text-decoration: none;
  color: #737373;
  font-size: 1.2rem;
  padding: 2px 0;
  display: flex;
  align-items: center;
}

.footer-item__link:hover {
  color: var(--primary-color);
}

.footer-item__icon {
  font-size: 1.6rem;
  margin: -1px 8px 0 0;
}

.footer__download {
  display: flex
}

.footer__download-qr {
  width: 80px;
  height: 80px;
  border: 1px solid var(--border-color);
}

.footer__download-apps {
  flex: 1;
  margin-left: 16px;
}

.footer__download-apps-img {
  height: 24px;
}

.footer__download-app-link {
  text-decoration: none;
}

.footer__bottom {
  padding: 8px 0;
  background-color: #f5f5f5;
  margin-top: 36px;
}

.footer__copyright {
  font-size: 1.4rem;
  margin: 0;
  text-align: center;
}